<html>
    <head>
        <title>Lady Coding Blog </title>
    </head>
    <body>
        <div>
                <h1><a href="/"> Lady Coding Blog </a> </h1>
        </div>

        <div>
            <p>published : 05.01.2018, 21:00 </p>
            <h2><a href="">My First Post </a></h2>
            <p>Aenean eu leo quam, pellentesque hdnr  </p>
        </div>

        <div>
            <p>published: 05.01 2018, 22:00 </p>
            <h2><a href="">My second Post </a></h2>
            <p> Anr gifkt , siinensl, jjdoeosk </p>
        </div>
    </body>
</html>

